body {
    background-color: beige;
}
.header {
    padding: 20px 120px;
}


.header img {
    display: inline-block;
    width: 200px;
    padding-left: 55px;
}

.header p {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0px;
}

.header ul {
    display: inline-block;
}

.status {
    background-color: rgb(92, 63, 21); width: 300px;
}

.status h4 {
    background-color: rgb(92, 63, 21); width: 300px;
}

.status ul {
    background-color: rgb(30, 184, 132);
}