body {
    background: url(https://img.freepik.com/vetores-gratis/vetor-de-fundo-de-padrao-geometrico-branco-e-dourado_53876-140726.jpg?w=1480&t=st=1676517318~exp=1676517918~hmac=666390b4e22068106b3e347337a281a315ced040c0679c9e781f733a4057d7ca);
    margin-top: 0;
}

.header-faixa-lateral p {
    text-align: right;
    background-color: black;
    margin-left: 1400px;
    margin-right: 0;
    margin-top: 0;
       
    padding-right: 150px;
    padding-top: 1050px;
    
    color: transparent;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
}


.header {
    padding: 20px 120px;
}


.header img {
    
    width: 200px;
    padding-left: 55px;
}

.header p {

    z-index: 2;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 125px;
    
}



#quem {
    text-align:center;
    padding: 65px;
    position: relative;
    
    
    
    
}

.header h1 {
    font-family: 'Julee', cursive;

}

.header li {
    z-index: 3;
    
    padding-right:  25px;
    padding-bottom: 10px;
    
    font-family: 'Josefin Sans', sans-serif;
    
    
    
    
}

.header div {
    padding-left: 0px;
    margin-left: -130px;
    
    width: 1500px;
    height: 350px;
}

.indice p {
    position: relative;
    right: 50px;
    padding-left: 30px;
    
    

}

.indice a {
    color: white;
}



.indice ul {
    position: relative;
    
    
    text-align: left;
    
    padding-top: 10px;
    
    background-color: black;
    opacity: 0.8;

    width: 500px;
    padding: 10px 30px;

    
    
}

.indice img {
    position: relative;
    bottom: 10px;
    float: left;
}




.status h4 {
    background-color: black; width: 300px;
    padding: 20px 0;
    opacity: 0.7;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 40px;
    left: 5px;

    
}

.status ul {
    background-color: rgb(30, 184, 132);
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 30px;
    width: 500px;
}

#Minha-foto-criança p {
    font-family: 'Josefin Sans', sans-serif;

}
#Minha-foto-criança a {
    font-family: 'Josefin Sans', sans-serif;

}

